<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Смена пароля</title>
    <link rel="stylesheet" href="{% static 'account/change_password.css' %}">
</head>
<body>
    <form method="post">
        {% csrf_token %}
            {% if messages %}
        <div class="messages" style="color: red; margin-bottom: 10px;">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
            {% endif %}
            {% if form.password1.errors %}
            <div class="error-password1">
                {% for errors in form.password1.errors %}
                    {{ errors }}
                {% endfor %}
            </div>
            {% endif %}
        <div class="logo_name_site"><img src="{% static 'media_img/logo_cirlce_arenda.png' %}" class="logo"><h3 class="name_site">room74</h3></div>
        <div class="position-tegs">
        <label class="center_label">Смена пароля <img src="{% static 'media_img/logo-key.png' %}" width="15px" height="15px"></label>
        <label>Введите пароль</label>
        {{ form.password1 }}
        <label>Подтвердите пароль</label>
        {{ form.password2 }}
        <button>Сменить пароль</button>
        </div>
    </form>
</body>
</html>