<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'arenda_app/liked_hotel.css' %}">
    <title>Мои избранные отели</title>

</head>
<body>
    {% include 'profile_menu.html' %}
    <div class="favorites-container">
        <h2>Избранные отели</h2>
        {% for data in liked_hotels %}
        <div class="hotel-list">
            <!-- Карточка отеля 1 -->
            <div class="hotel-item">
                <div class="hotel-info">
                    <span class="hotel-name">{{ data.name }}<span class="hotel-stars">★{{ data.stars }}</span></span>
                    <span class="hotel-city">{{ data.address }}</span>
                </div>
                <button class="remove-btn" title="Удалить из избранного">&#10084;</button>
            </div>
        {% endfor %}

</body>
</html>
