<!DOCTYPE html>
<html lang="ru">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Исправлен путь к CSS (используем относительный путь) -->
    <link rel="stylesheet" href="{% static 'header_footer.css' %}">
    <title>room74</title>
</head>
<body>
<header class="header">
  <div class="logo"><a href="/">room</a><span>74</span></div>
  <div class="search-bar">
    <input type="text" placeholder="Поиск отеля, города или улицы...">
    <button class="search-btn">🔍</button>
  </div>
  <nav class="nav-menu">
    <a href="{% url 'arenda_app:basket' %}" class="nav-item">Корзина</a>
    {% if user.is_authenticated %}
      <a href="{% url 'arenda_app:profile' %}" class="nav-item profile-btn">Профиль</a>
    {% else %}
      <a href="{% url 'account:login' %}" class="nav-item profile-btn">Войти</a>
    {% endif %}
  </nav>
</header>
</body>
</html>
